Flask==2.3.3
Flask-Cors==3.1.1  # If you need Cross-Origin Resource Sharing support
Flask-SQLAlchemy==3.0.3  # If you're using a database like SQLAlchemy
Flask-RESTful==0.3.9  # If you're building a REST API with Flask-RESTful
gunicorn==20.2.0  # For production server (optional but recommended)
pytest==7.4.3
python-dateutil==2.8.2
