* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto; /* Enable vertical scrolling */
  min-height: 100vh;
}

.App {
  text-align: center;
  width: 100%;
}

.login-box {
  background: #ffffff;
  width: 30vw;
  height: 33vh;
  padding: 20px;
  top: 200;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.login-box h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.input-field {
  width: 100%;
  height: 4vh;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.forgot-password,
.create-account {
  font-size: 12px;
  color: #0056b3;
  text-decoration: none;
}

.forgot-password:hover,
.create-account:hover {
  text-decoration: underline;
}

.create-account-box h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.notification-preference,
.carrier-selection {
  margin-top: 10px;
}

.notification-preference label,
.carrier-selection label {
  font-size: 14px;
  font-weight: bold;
}

.create-account-button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.machine-row {
  height:300px;
  display: flex;
  flex-wrap: wrap;
}



.preferences-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the tiles horizontally */
  gap: 20px; /* Adds consistent spacing between tiles */
  width: 100vw;
  padding: 20px; /* Adds some padding around the container */
  box-sizing: border-box;
}

.preferences-box {
  width: 150px; /* Ensures all tiles have the same width */
  height: 300px;
  padding: 20px;
  border: 1px solid #ccc; /* Optional: Adds a border to each tile */
  border-radius: 10px; /* Optional: Rounds the tile corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  background-color: #f9f9f9; /* Background color for the tiles */
}


header div {
  display: flex;
  align-items: center;
}

header button {
  margin-left: 8px;
}

/* Additional styles for washers and dryers */
.home-page {
  padding: 20px;
}

.machines {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.machine {
  border: 2px solid #0056b3;
  border-radius: 10px;
  padding: 20px;
  height: 350px;
  text-align: center;
}

.washer {
  background-color: lightblue;
}

.dryer {
  background-color: lightblue;
}

.machine-list {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.machine-tile {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: 250px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}


.machine-tile:hover {
  transform: scale(1.05);
}

.machine-tile h3 {
  margin: 0 0 0.5rem 0;
}

.machine-tile p {
  margin: 0.5rem 0;
}

.machine-tile button {
  background-color: #0056b3;
  color: white;
  border: none;
  font-size: large;
  font-weight: bold;
  width: 200px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.machine-tile button:hover {
  background-color: #0056b3;
}
.preferences-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 80px; /* Adjust this value as needed */
}

.preferences-box {
  background: #ffffff;
  width: 30vw;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
  transition: transform 0.2s;
}

.preferences-box:hover {
  transform: scale(1.05);
}

.preferences-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.preferences-box form {
  margin-bottom: 20px;
}

.preferences-box label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.preferences-box input,
.preferences-box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.preferences-box button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}